.pop-up {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__background {
    position: absolute;
    background-color: #1b1b1b;
    background-color: rgba($color: #1b1b1b, $alpha: 0.95);
    height: inherit;
    width: inherit;
    z-index: -1;
  }

  &__content {
    transition: all 0.3s;
    background-color: white;
    //display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 33.333% 77.777%;
    column-gap: 5rem;
    width: 75%;
    height: 70%;
    padding-right: 5rem;

    @include for-tablet-portrait-only {
      padding: initial;
      grid-template-columns: 1fr;
      grid-template-rows: 77.777% 33.333%;
      row-gap: 1rem;
      transform: translate(-50%, -56%);
      height: 75%;
    }

    .icon-close {
      &:hover {
        cursor: pointer;
        color: $color-primary;
      }
      position: absolute;
      left: 95%;
      top: 5%;
      font-size: 3rem;
      transition: all 0.2s;
    }
  }

  &.open {
    transition: all 0.3s;
    z-index: 200;
    opacity: 1;

    visibility: visible;
  }
  &__container {
    overflow: hidden;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    &--info {
      align-items: flex-start;
      width: 80.7%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include for-tablet-portrait-only {
        width: initial;
        padding: 0 3rem;
        //padding-top: 10rem;
      }
      .heading-secondary {
        text-align: left;
        width: auto;
        margin-bottom: 1rem;
      }
      h3 {
        text-align: left;
        width: auto;
        text-transform: uppercase;
      }
      .btn--pop-up {
        margin: 0;
        padding: 1.5rem 4.5rem;
      }
      .paragraphs {
        column-gap: 4rem;
        column-count: 2;
        column-rule: 1px solid $color-grey-light-2;
        font-size: 1.4rem;
        margin-bottom: 3rem;
        @include for-tablet-portrait-only {
          column-gap: unset;
          column-count: unset;
          column-rule: unset;
        }
      }
    }
    &--images {
      display: flex;
      flex-direction: column;
      @include for-tablet-portrait-only {
        flex-direction: row;
        grid-row: 2/3;
      }
      img {
        display: block;
        height: 100%;
        @include for-tablet-portrait-only {
          width: 50%;
        }
      }
    }
  }
}
