*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  @include for-bigdesktop-only {
    font-size: 80%;
  }

  @include for-tablet-landscape-only {
    font-size: 70%;
  }

  @include for-tablet-portrait-only {
    font-size: 60%;
  }
  @include for-phone-only {
    font-size: 50%;
  }
}

body {
  padding: 3rem;
  overflow-x: hidden;
  @include for-phone-only {
    padding: 0rem;
  }
  box-sizing: border-box;
  background-color: #f7f7f7;
}

img {
  width: 100%;
}
