.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.stop_scrolling {
  height: 100%;
  overflow: hidden;
}

.stop_scrolling::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.stop_scrolling {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.section-tours__container--row {
  &.card-right {
    &.x8 {
      transform: translateX(-8rem);
      &:hover {
        transform: translateY(-1rem) translateX(-8rem) scale(1.03);
      }
    }
    &.x4 {
      transform: translateX(-4rem);
      &:hover {
        transform: translateY(-1rem) translateX(-4rem) scale(1.03);
      }
    }
  }

  &.card-left {
    &.x8 {
      transform: translateX(8rem);
      &:hover {
        transform: translateY(-1rem) translateX(8rem) scale(1.03);
      }
    }
    &.x4 {
      transform: translateX(4rem);
      &:hover {
        transform: translateY(-1rem) translateX(4rem) scale(1.03);
      }
    }
  }
}
