.section-stories {
  position: relative;
  margin-top: 8rem;
  padding: 6rem 0;
  @include for-phone-only {
    padding-bottom: 16rem;
  }

  .heading-secondary {
    margin: 1rem auto;
    margin-bottom: 4rem;
    width: 340px;
  }
  &__container {
    display: grid;
    grid-template-rows: repeat(2, 350px);
    row-gap: 3rem;

    margin-bottom: 6rem;
    place-content: center;
    @include for-tablet-portrait-only {
      margin: 0 15px;
      //row-gap: 10rem;
    }
    @include for-phone-only {
      //row-gap: rem;
    }
  }

  &__story {
    background-color: rgba(#ffffff, 0.5);
    padding: 4.5rem 6rem;
    padding-left: 7.3rem;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    margin: auto 0;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
    &__picture {
      shape-outside: circle(50% at 35% 50%);
      float: left;
      position: relative;
      height: 130px;
      width: 130px;
      margin-right: 80px;
      overflow: hidden;
      clip-path: circle(50% at 50% 50%);

      &--image {
        transition: all 0.3s ease-in-out;
        height: 100%;
        //transform: scale(1.4);
        //clip-path: circle(50% at 50% 50%);
        //margin-top: 0.6rem;
        transform: scale(1.2);
        backface-visibility: hidden;
      }
      &--text {
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        opacity: 0;
        position: absolute;
        top: 45px;
        left: 40px;
        font-weight: 400;
        font-size: 1.65rem;
        color: #ffffff;
      }
    }
    &__description {
      p {
        font-size: 1.45rem;
        max-width: 71rem;
      }
    }
    &:hover {
      .section-stories__story__picture {
        .section-stories__story__picture--image {
          filter: blur(3px) brightness(80%);
          transform: scale(1);
          &::before {
            display: block;
          }
        }
        .section-stories__story__picture {
          display: block;
        }
        .section-stories__story__picture--text {
          animation-name: moveTop;
          animation-duration: 0.5s;
          opacity: 1;
        }
      }
    }
  }

  &--btn {
    //margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .bg-video {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    opacity: 0.15;
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
